// Body
$body-bg: #f8fafc;

// Colors
$tutszone-primary: #04bde6;
$tutszone-secondary: #9de501;

$info: $tutszone-primary;
$success: $tutszone-secondary;

// Typography
$font-family-sans-serif: 'Segoe UI', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;
